@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  .hero {
    padding: $xh;
    flex: 1 0 80%;
    h2 {
      font: {
        size: $xxl;
      }
      span {
        font: {
          size: $xl;
        }
      }
    }
    p {
      font: {
        size: $s;
      }
    }
    div {
      right: 0;
      top: $xxs;
      h1 {
        font: {
          size: $l;
        }
      }
    }
  }
  .carousel {
    flex: 1 0 330px;
    overflow-y: hidden;
  }
}
