@font-face {
    font-family: 'Gabarito Bold';
    src: url('./assets/fonts/Gabarito-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Ghibli';
    src: url('./assets/fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf')
}
// Colours
$blue900: #00aef0;
$blue800: #162685;
$grey100: #f1f3f9;
$grey900: #e4eefb;
$white100: #ffffff;

  // Sizes
  $xxs: 10px;
  $xs: 12px;
  $s: 14px;
  $m: 16px;
  $l: 18px;
  $xl: 21px;
  $xxl: 24px;
  $xxl: 36px;
  $h: 48px;
  $xh: 72px;
  
  @mixin hideScrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }